<!DOCTYPE html>
<html>
<head <meta name="viewport" content="width=device-width, initial-scale=1.0">>

<title>Add Employee</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<div class="navbar">

<div class="logo">
AttendFlow
</div>

<a href="/employees" class="btn">
Employees
</a>

</div>

<div class="container">

<div class="card">

<h1>Add Employee</h1>

<form method="POST">

<input
type="text"
name="name"
placeholder="Employee Name"
required>

<input
type="email"
name="email"
placeholder="Email Address"
required>

<input
type="text"
name="department"
placeholder="Department"
required>

<input
type="text"
name="phone"
placeholder="Phone Number"
required>

<button type="submit">
Add Employee
</button>

</form>

</div>

</div>
<footer class="footer">

    <div class="footer-content">

        <h3>AttendFlow HRMS</h3>

        <p>
            Designed & Developed by <strong>Ch. Surya Teja</strong>
        </p>

        <p>
            Email: suryachikkala09@gmail.com
        </p>

        <p>
            Attendance Management System for Employee Tracking and Reporting
        </p>

        <p class="copyright">
            © 2026 AttendFlow. All Rights Reserved.
        </p>

    </div>

</footer>

</body>
</html>
